/* General */
body {
	font-family: 'Source Sans Pro', sans-serif;	
	padding-top: 0;
	font-size: 1.7em;
	line-height: 1.7em;
	background-color: #F5F5F5;
}

* {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

h1 {
	color: #333333;
	font-size: 1.875em;
	font-weight: 400;
	white-space: nowrap;
}

h2 {
	color: #5c2d91;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
}

.jumbotron {
	background-color: transparent;
	margin-bottom: 0;
}

.jumbotron p {
	font-size: 1em;
}

.container .jumbotron, .container-fluid .jumbotron {
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}

#intro-img {
	background: url("../img/intro-img.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	max-width: 1920px;
	padding: 0;
	margin: 0;
	margin-bottom: -200px;
	height: 622px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-transform: all 0.3s ease-in-out;
}

.text-align-right {
	text-align: right;
}

.white-area {
	background-color: #ffffff;
}

.ico-dropdown { 
	background: url("../img/ico-dropdown.png") no-repeat scroll center right;
	padding-right: 10px;
	margin-right: 10px;
}

.login {
	font-size: 0.9em;
	margin-top: 15px;
}

.login .ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-transform: all 0.3s ease-in-out;
    margin: 0 0 0 10px;
}

.login .ico.email {
	background: url("../img/ico-mail-blue.png") center center no-repeat;
}

.login .ico.facebook {
	background: url("../img/ico-facebook-blue.png") center center no-repeat;
}
.mb-20 {
	margin-bottom: 20px !important;
}


/* Navbar / Menu */
.navbar {
    z-index: 99999;
    display: flex;
    align-items: center;
    left: 0;
    top: 102px;
    position: absolute;
    width: 600px;
}

.navbar-nav > li > a {
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 0.95em;
	color: #333333;
	margin-right: 2px;
}

.navbar.fixed {
	border-bottom: 1px solid #cccccc;
    background:rgba(255,255,255,0.95);
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    position:fixed;
    width: 100%;
    top:0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #77AF02;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #77AF02;
    color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #0072c6;
}

.navbar-toggle .icon-bar {
	height: 3px;
 }

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-toggle {
	border: none;
}

.navbar-collapse.collapse {
	z-index: 1000;
}

/* Layout */
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


/* Header */
#header .container {
	position: relative;
}

.logo {
	background-image: url("../img/logo.png");
	display: block;
	width: 92px;
	height: 20px;
	margin: 15px 0 28px;
}

.input-group .form-control.search {
	float: right;
	width: 110px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #d2d2d2;
}

/* Buttons*/
.btn-primary {
	background-color: #5c2d91;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -ms-transform: all 0.2s ease-in-out;
	padding: 7px 10px;
	margin-bottom: 5px;
	margin-right: 20px;
}

.btn-primary:hover {
	background-color: #78AF00;
}

/* Main Content */
.item {
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 420px;
	min-width: 250px;
}

/* Articles */
#articles {
	padding-bottom: 2em;
	padding-top: 2em;
	margin-bottom: 0;
}

#articles .item .white-area {
	padding: 15px 15px 15px 15px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	background-position: center calc(100% - 20px); 
	background-size: calc(85%) auto;
}

#articles .item:nth-child(1n+0) .white-area {
   	background-image: url("../img/article-one.png");
}

#articles .item:nth-child(2n+0) .white-area {
   	background-image: url("../img/article-two.png");
}

#articles .item:nth-child(3n+0) .white-area {
   	background-image: url("../img/article-three.png");
}

#articles .item:nth-child(4n+0) .white-area {
   	background-image: url("../img/article-four.png");
}

/* Videos */
#videos {
	background-color: #f5f5f5;
	padding-bottom: 2em;
	padding-top: 2em;
}

#videos .item .white-area {
	padding: 15px 15px 130px 15px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	background-position: center calc(100% - 20px); 
	background-size: calc(85%) auto;

}

#videos .item:nth-child(1) .white-area {
   	background-image: url("../img/video-one.png");
}

#videos .item:nth-child(2) .white-area {
   	background-image: url("../img/video-two.png");
}

#videos .item:nth-child(3) .white-area {
   	background-image: url("../img/video-three.png");
}

#videos .item:nth-child(4) .white-area {
   	background-image: url("../img/video-four.png");
}

/* About Us */
#about-us .ico-bull {
	background: url("../img/ico-bull.png") no-repeat center center;
	width: 281px;
	height: 322px;
	min-width: 340px;
	display: inline-block;
	float: left;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -ms-transform: all 0.2s ease-in-out;
}

/* Links */
#links {
	background: #5c2d91;
}

#links .item {
	height: auto;
	min-height: 200px;
	min-width: 200px;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	padding: 0;
	color: #5c2d91;
	font-size: 1.3em;
	width: 30%;
	margin-right: 5%;
	min-width: 224px;
}

#links .item:last-child {
	margin-right: 0;
}

#links .item:nth-child(1) {
   	background-image: url("../img/links-one.png");
   	background-color: #662479;
}

#links .item:nth-child(2) {
   	background-image: url("../img/links-two.png");
  	background-color: #00BCF2;
}

#links .item:nth-child(3) {
   	background-image: url("../img/links-three.png");
   	background-color: #BBD80B;
}

#links .item .description {
	position: absolute;
	bottom: 0;
	background: #ffffff;
	width: 100%;
	height: 20px;
	text-align: center;
	padding: 20px;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -ms-transform: all 0.2s ease-in-out;
    overflow: hidden;
}
#links .item .description a {
	color: #5c2d91;
	font-weight: 400;
	line-height: 0;
	position: relative;
	top: -12px;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -ms-transform: all 0.2s ease-in-out;
}
#links .item .description p {
	color: #555555;
	font-size: 0.7em;
	line-height: 1.2em;
	max-width: 330px;
	margin: 20px auto 0;
}
#links .item:hover .description {
	height: 200px;
}
#links .item:hover .description a {
	top: 0px;
}

/* Contact */
#contact {
	padding-top: 75px;
}
#contact .icons {
	height: 100%;
	min-height: 180px;
	display: flex;
	flex-direction: row; 
	justify-content: center;
	align-items: center;
}
#contact .icons > * {
	margin: 0.5em;
}
#contact .ico {
	display: inline-block;
	width: 110px;
	min-width: 110px;
	height: 110px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-transform: all 0.3s ease-in-out;
}

#contact .ico.mail {
	background: url("../img/ico-mail-white.png") center center no-repeat #0072C6; 
}

#contact .ico.facebook {
	background: url("../img/ico-facebook-white.png") center center no-repeat #0072C6;
}

#contact .ico.mail:hover, #contact .ico.facebook:hover {
	background-color: #78AF00;
	box-shadow: inset 0 0 0 20px #78AF00;
}
#contact .ico.mail:active, #contact .ico.facebook:active {
	background-color: #78AF00;
	
}

/* Footer */
footer {
	background: url("../img/footer.jpg") top center no-repeat #eeeeee;
	width: 100%;
	height: 500px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	#about-us .ico-bull {
		width: 100%;
	}
	#links .item {
		width: 100%;
	}
	#intro-img {
		height: 400px;
		margin-bottom: -120px;
	}
}

@media screen and (max-width: 768px) {
	.hidden-md-down {
		display: none;
	}

	#about-us .ico-bull {
		width: 100%;
	}

	.login {
		padding-right: 50px;
		margin-top: 12px;
	}

	.navbar-default .navbar-nav > li > a:first-child {
		margin-top: 50px;
	}

	.navbar-default .navbar-nav > li > a:last-child {
		margin-bottom: 50px;
	}

	.navbar {
		width: 100%;
		background:rgba(255,255,255,0.95);
	}

	.navbar-default .navbar-nav > li > a {
		text-align: center;
		font-size: 1.5em;
		line-height: 0.3em;
		width: 100%;
		color: #0072C6;
	}

	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	    background-color: transparent;
	    color: #6AA817;
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	    background-color: transparent;
	 	color: #6AA817;   
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
		background-color: transparent;
	}

	#intro-img {
		height: 300px;
		margin-bottom: -90px;
	}	
}

@media screen and (max-width: 574px) {
	.item {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	h2 {
		text-align: center;
	}
	#intro-img {
		height: 200px;
		margin-bottom: -80px;
	}	
	.item {
		width: 100%;
	}
	.login {
		padding-right: 40px;
		font-size: 85%;
	}
}